global
	log     /dev/log    local0
	maxconn 4096

defaults
	log     global
	mode    tcp
	option  tcplog
	timeout connect 10s
	timeout client  24h
	timeout server  24h

frontend ssh_in
	bind *:22
	bind :::22
	default_backend ssh_backend

backend ssh_backend
	server ssh 192.168.3.2:22 # send-proxy-v2

frontend http_in
	bind *:80
	bind :::80
	mode http

	acl is_allowed hdr(host) -i git.mohsun.az forge.mohsun.az vault.mohsun.az sync.mohsun.az gallery.mohsun.az track.mohsun.az push.mohsun.az status.mohsun.az tunnel.mohsun.az
	acl is_local hdr(host) -i push.mohsun.az status.mohsun.az tunnel.mohsun.az

	http-request deny deny_status 403 if !is_allowed
	use_backend http_backend_local if is_local
	default_backend http_backend

backend http_backend
	mode http
	option forwardfor
	server web 192.168.3.2:80

backend http_backend_local
	mode http
	server web-local localhost:1080

frontend https_in
	bind *:443
	bind :::443

	tcp-request inspect-delay 5s

	acl is_allowed req.ssl_sni -i git.mohsun.az forge.mohsun.az vault.mohsun.az sync.mohsun.az gallery.mohsun.az track.mohsun.az push.mohsun.az status.mohsun.az tunnel.mohsun.az
	acl is_local req.ssl_sni -i push.mohsun.az status.mohsun.az tunnel.mohsun.az

	tcp-request content reject if !is_allowed
	tcp-request content accept if { req_ssl_hello_type 1 }
	use_backend https_backend_local if is_local
	default_backend https_backend

backend https_backend
	server web 192.168.3.2:443 # send-proxy-v2

backend https_backend_local
	server web-local localhost:1443 # send-proxy-v2
