[Unit]
Description=ntfy container

[Container]
Image=docker.io/binwiederhier/ntfy:latest
ContainerName=ntfy
Volume=ntfy-message-cache:/var/cache/ntfy:Z
Volume=/home/mohsun/Data/ntfy:/etc/ntfy:Z
PublishPort=8082:80
Exec=serve
HealthCmd=CMD-SHELL wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '"healthy"\s*:\s*true' || exit 1
HealthInterval=60s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=40s

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
