[Unit]
Description=Nextcloud server container
Requires=nextcloud-postgres.service
After=nextcloud-postgres.service

[Container]
Image=docker.io/nextcloud:32.0.5
ContainerName=nextcloud-server
Network=nextcloud.network
NetworkAlias=server
PublishPort=8080:80
Environment=NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.mohsun.az
Volume=/home/mohsun/Data/Nextcloud/server:/var/www/html:Z
# Nextcloud needs to be able to send requests to itself
# for some "Security & setup warnings" checks
AddHost=nextcloud.mohsun.az:host-gateway

[Install]
WantedBy=default.target
