[Unit]
Description=Vaultwarden container

[Container]
Image=docker.io/vaultwarden/server:1.35.2
ContainerName=vaultwarden
PublishPort=8000:80
Volume=/home/mohsun/Data/Vaultwarden:/data:Z
Environment=ADMIN_TOKEN="ENTER_TOKEN_HASH_HERE"

[Install]
WantedBy=default.target
