[Unit]
Description=Immich server container
Requires=immich-redis.service immich-postgres.service
After=immich-redis.service immich-postgres.service

[Container]
Image=ghcr.io/immich-app/immich-server:v2.4.1
ContainerName=immich-server
Network=immich.network
NetworkAlias=immich-server
Volume=/home/mohsun/Data/Immich/library:/data:Z
Volume=/etc/localtime:/etc/localtime:ro
Secret=immich-postgres-password
EnvironmentFile=/home/mohsun/.config/containers/systemd/immich.env
PublishPort=2283:2283

[Service]
Restart=always

[Install]
WantedBy=default.target
