[Unit]
Description=Nextcloud server container
Requires=nextcloud-postgres.service
After=nextcloud-postgres.service

[Container]
Image=docker.io/nextcloud:31.0.12
ContainerName=nextcloud-server
Network=nextcloud.network
NetworkAlias=server
PublishPort=8080:80
Environment=NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.example.com
Volume=/home/mohsun/Data/Nextcloud/server:/var/www/html:Z

[Install]
WantedBy=default.target
