[Unit]
Description=Vaultwarden container

[Container]
Image=docker.io/vaultwarden/server:1.34.3
ContainerName=vaultwarden
PublishPort=8000:80
Volume=/home/mohsun/Data/Vaultwarden:/data:Z

[Install]
WantedBy=default.target
