[Unit]
Description=FMD container

[Container]
Image=registry.gitlab.com/fmd-foss/fmd-server:0.14.0
ContainerName=fmd
Volume=/home/mohsun/Data/FMD:/var/lib/fmd-server/db:U,Z
# FMD container needs to be able send requests
# to ntfy container via its public DNS name
AddHost=ntfy.mohsun.az:host-gateway
PublishPort=127.0.0.1:8081:8080

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
