[Unit]
Description=Forgejo server container
Requires=forgejo-anubis.service
After=forgejo-anubis.service

[Container]
Image=codeberg.org/forgejo/forgejo:14
ContainerName=forgejo-server
Network=forgejo.network
NetworkAlias=forgejo-server
Volume=/home/mohsun/Data/Forgejo:/data:Z
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=3001:22
Environment=USER_UID=1000
Environment=USER_GID=1000

[Service]
Restart=always

[Install]
WantedBy=default.target
